sqlbitsadfra001adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "sqlbitsadfra001adf"
		},
		"LS_ASQL_Staging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_ASQL_Staging'"
		},
		"LS_MSQL_AdventureWorksLT_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_MSQL_AdventureWorksLT'"
		},
		"DS_ADLS_Address_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().JsonFileName"
		},
		"DS_ADLS_Address_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "Reference"
		},
		"DS_ADLS_CustomerAddress_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "@dataset().TextFileName"
		},
		"DS_ADLS_CustomerAddress_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "Reference"
		},
		"LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_dataLakeStoreUri": {
			"type": "string",
			"defaultValue": "https://sqlbitsadfra001dlsv01.azuredatalakestore.net/webhdfs/v1"
		},
		"LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "665a15a5-d025-4c27-af0d-f78f6b8e3da0"
		},
		"LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "84cf6300-fc86-45aa-9bcb-f090602b7f5f"
		},
		"LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "sqlbitsadfra001"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy_Address')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Address",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "@{pipeline().parameters.SinkPreCopyScript}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_Address",
								"type": "DatasetReference",
								"parameters": {
									"JsonFileName": {
										"value": "@pipeline().parameters.AddressSourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_Staging",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "AWLTSRC.SalesLT_Address"
								}
							}
						]
					}
				],
				"parameters": {
					"SinkPreCopyScript": {
						"type": "String",
						"defaultValue": "TRUNCATE TABLE AWLTSRC.SalesLT_Address"
					},
					"AddressSourceFileName": {
						"type": "String",
						"defaultValue": "Address.json"
					}
				},
				"folder": {
					"name": "Lab 02"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Address')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_CustomerAddress')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Address",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "@{pipeline().parameters.SinkPreCopyScript}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_CustomerAddress",
								"type": "DatasetReference",
								"parameters": {
									"TextFileName": {
										"value": "@pipeline().parameters.CustomerAddressSourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_Staging",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "AWLTSRC.SalesLT_CustomerAddress"
								}
							}
						]
					}
				],
				"parameters": {
					"SinkPreCopyScript": {
						"type": "String",
						"defaultValue": "TRUNCATE TABLE AWLTSRC.SalesLT_CustomerAddress"
					},
					"CustomerAddressSourceFileName": {
						"type": "String",
						"defaultValue": "CustomerAddress.txt"
					}
				},
				"folder": {
					"name": "Lab 02"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_CustomerAddress')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_SalesLT_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromMSQLtoASQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT CustomerID, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt, CAST(rowguid as NVARCHAR(50)) AS rowguid, ModifiedDate FROM SalesLT.Customer"
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "TRUNCATE TABLE [AWLTSRC].[SalesLT_Customer]"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_MSQL_SalesLT_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_SalesLT_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_MSQL_SalesLT_Customer')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_SalesLT_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_SalesLT_Customer2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromMSQLtoASQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.SourceQuery",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "@{pipeline().parameters.SinkPreCopyScript}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_MSQL_SalesLT_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_SalesLT_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"SourceQuery": {
						"type": "String",
						"defaultValue": "SELECT CustomerID, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt, CAST(rowguid as NVARCHAR(50)) AS rowguid, ModifiedDate FROM SalesLT.Customer"
					},
					"SinkPreCopyScript": {
						"type": "String",
						"defaultValue": "TRUNCATE TABLE [AWLTSRC].[SalesLT_Customer]"
					}
				},
				"folder": {
					"name": "Lab 02"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_MSQL_SalesLT_Customer')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_SalesLT_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Copy_SalesLT_Customer3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromMSQLtoASQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "@pipeline().parameters.SourceQuery",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"sqlWriterStoredProcedureName": "[concat('[', 'AWLTSRC].[usp_SalesLT_Customer_Merge]')]",
								"sqlWriterTableType": "[concat('[', 'AWLTSRC].[SalesLT_CustomerType]')]",
								"storedProcedureParameters": {
									"BatchId": {
										"type": "Int64",
										"value": "-1"
									},
									"ETLAuditLogId": {
										"type": "Int64",
										"value": "-1"
									},
									"ETLControlId": {
										"type": "Int32",
										"value": "-1"
									},
									"LogType": {
										"type": "String",
										"value": "Information"
									},
									"PipelineId": {
										"type": "String",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									},
									"PipelineName": {
										"type": "String",
										"value": {
											"value": "@pipeline().Pipeline\n",
											"type": "Expression"
										}
									},
									"PipelineTriggerType": {
										"type": "String",
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										}
									},
									"SinkName": {
										"type": "String",
										"value": "Stage.Customer"
									},
									"SourceName": {
										"type": "String",
										"value": "AWLTSRC.Customer"
									},
									"SourceSystem": {
										"type": "String",
										"value": "AWLTSRC"
									}
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_MSQL_SalesLT_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_SalesLT_Customer",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"SourceQuery": {
						"type": "String",
						"defaultValue": "SELECT CustomerID, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt, CAST(rowguid as NVARCHAR(50)) AS rowguid, ModifiedDate FROM SalesLT.Customer"
					},
					"SinkPreCopyScript": {
						"type": "String",
						"defaultValue": "TRUNCATE TABLE [AWLTSRC].[SalesLT_Customer]"
					}
				},
				"folder": {
					"name": "Lab 03"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_MSQL_SalesLT_Customer')]",
				"[concat(variables('factoryId'), '/datasets/DS_ASQL_SalesLT_Customer')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SalesLT_CustomerV2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_SalesLT_Customer2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SourceQuery": "SELECT CustomerID, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt, CAST(rowguid as NVARCHAR(50)) AS rowguid, ModifiedDate FROM SalesLT.Customer",
								"SinkPreCopyScript": "TRUNCATE TABLE [AWLTSRC].[SalesLT_Customer]"
							}
						}
					},
					{
						"name": "Copy_Address",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_SalesLT_CustomerV2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Address",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SinkPreCopyScript": "TRUNCATE TABLE AWLTSRC.SalesLT_Address",
								"AddressSourceFileName": "Address.json"
							}
						}
					},
					{
						"name": "Copy_CustomerAddress",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Address",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_CustomerAddress",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SinkPreCopyScript": "TRUNCATE TABLE AWLTSRC.SalesLT_CustomerAddress",
								"CustomerAddressSourceFileName": "CustomerAddress.txt"
							}
						}
					},
					{
						"name": "usp_Customer_Load",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_CustomerAddress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'Stage].[usp_Customer_Load]')]",
							"storedProcedureParameters": {
								"BatchId": {
									"value": "-1",
									"type": "Int64"
								},
								"ETLAuditLogId": {
									"value": "-1",
									"type": "Int64"
								},
								"ETLControlId": {
									"value": "-1",
									"type": "Int32"
								},
								"PipelineId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineTriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"SinkName": {
									"value": "Stage.Customer",
									"type": "String"
								},
								"SourceName": {
									"value": "AWLTSRC.Customer",
									"type": "String"
								},
								"SourceSystem": {
									"value": "AWLTSRC",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_Staging",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"AddressSourceFileName": {
						"type": "String",
						"defaultValue": "Address.json"
					},
					"CustomerAddressSourceFileName": {
						"type": "String",
						"defaultValue": "CustomerAddress.tst"
					}
				},
				"folder": {
					"name": "Lab 02"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy_SalesLT_Customer2')]",
				"[concat(variables('factoryId'), '/pipelines/Copy_Address')]",
				"[concat(variables('factoryId'), '/pipelines/Copy_CustomerAddress')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_sqlbitsadfra001dlsv1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"JsonFileName": {
						"type": "String",
						"defaultValue": "Address.json"
					}
				},
				"folder": {
					"name": "Lab 02"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"fileName": {
						"value": "[parameters('DS_ADLS_Address_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('DS_ADLS_Address_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_sqlbitsadfra001dlsv1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CustomerAddress')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_sqlbitsadfra001dlsv1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TextFileName": {
						"type": "String",
						"defaultValue": "CustomerAddress.txt"
					}
				},
				"folder": {
					"name": "Lab 02"
				},
				"annotations": [],
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "[parameters('DS_ADLS_CustomerAddress_properties_typeProperties_fileName')]",
						"type": "Expression"
					},
					"folderPath": "[parameters('DS_ADLS_CustomerAddress_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_sqlbitsadfra001dlsv1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_SalesLT_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Staging",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": "Source"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ASQL_Staging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ASQL_Staging",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "String",
						"defaultValue": "dbo.TableName"
					}
				},
				"folder": {
					"name": "Generic Datasets"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"typeProperties": {
					"tableName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ASQL_Staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_MSQL_SalesLT_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_MSQL_AdventureWorksLT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"typeProperties": {
					"tableName": "[concat('[', 'SalesLT].[Customer]')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_MSQL_AdventureWorksLT')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_sqlbitsadfra001dlsv1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDataLakeStore",
				"typeProperties": {
					"dataLakeStoreUri": "[parameters('LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_dataLakeStoreUri')]",
					"tenant": "[parameters('LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_tenant')]",
					"subscriptionId": "[parameters('LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('LS_ADLS_sqlbitsadfra001dlsv1_properties_typeProperties_resourceGroupName')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ASQL_Staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_ASQL_Staging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_MSQL_AdventureWorksLT')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('LS_MSQL_AdventureWorksLT_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SelfHostedIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}