sqlbitsadfra001adf/PartialArmTemplates/ArmTemplate_3_4_2019_15_45_50.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "sqlbitsadfra001adf"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Copy_Address')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_Address",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "AzureDataLakeStoreSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": {
									"value": "@{pipeline().parameters.SinkPreCopyScript}",
									"type": "Expression"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DS_ADLS_Address",
								"type": "DatasetReference",
								"parameters": {
									"JsonFileName": "Address.json"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_ASQL_Staging",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "AWLTSRC.SalesLT_Address"
								}
							}
						]
					}
				],
				"parameters": {
					"SinkPreCopyScript": {
						"type": "String",
						"defaultValue": "TRUNCATE TABLE AWLTSRC.SalesLT_Address"
					}
				},
				"folder": {
					"name": "Lab02"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_Address')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Master_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_SalesLT_CustomerV2",
						"type": "ExecutePipeline",
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_SalesLT_Customer2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SourceQuery": "SELECT CustomerID, NameStyle, Title, FirstName, MiddleName, LastName, Suffix, CompanyName, SalesPerson, EmailAddress, Phone, PasswordHash, PasswordSalt, CAST(rowguid as NVARCHAR(50)) AS rowguid, ModifiedDate FROM SalesLT.Customer",
								"SinkPreCopyScript": "TRUNCATE TABLE [AWLTSRC].[SalesLT_Customer]"
							}
						}
					},
					{
						"name": "Copy_Address",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_SalesLT_CustomerV2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_Address",
								"type": "PipelineReference"
							},
							"parameters": {
								"SinkPreCopyScript": "TRUNCATE TABLE AWLTSRC.SalesLT_Address"
							}
						}
					},
					{
						"name": "Copy_CustomerAddress",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Copy_Address",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Copy_CustomerAddress",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"SinkPreCopyScript": "TRUNCATE TABLE AWLTSRC.SalesLT_CustomerAddress"
							}
						}
					},
					{
						"name": "usp_Customer_Load",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_CustomerAddress",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"storedProcedureName": "[concat('[', 'Stage].[usp_Customer_Load]')]",
							"storedProcedureParameters": {
								"BatchId": {
									"value": "-1",
									"type": "Int64"
								},
								"ETLAuditLogId": {
									"value": "-1",
									"type": "Int64"
								},
								"ETLControlId": {
									"value": "-1",
									"type": "Int32"
								},
								"PipelineId": {
									"value": {
										"value": "@pipeline().RunId",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"PipelineTriggerType": {
									"value": {
										"value": "@pipeline().TriggerType",
										"type": "Expression"
									},
									"type": "String"
								},
								"SinkName": {
									"value": "Stage.Customer",
									"type": "String"
								},
								"SourceName": {
									"value": "AWLTSRC.Customer",
									"type": "String"
								},
								"SourceSystem": {
									"value": "AWLTSRC",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "LS_ASQL_Staging",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "Lab02"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Copy_Address')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_Address')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_sqlbitsadfra001dlsv1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"JsonFileName": {
						"type": "String",
						"defaultValue": "Address.json"
					}
				},
				"folder": {
					"name": "Lab02"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "JsonFormat",
						"filePattern": "setOfObjects"
					},
					"fileName": {
						"value": "@dataset().JsonFileName",
						"type": "Expression"
					},
					"folderPath": "Reference"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_CustomerAddress')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_sqlbitsadfra001dlsv1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TextFileName": {
						"type": "String",
						"defaultValue": "CustomerAddress.txt"
					}
				},
				"folder": {
					"name": "Lab02"
				},
				"type": "AzureDataLakeStoreFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@dataset().TextFileName",
						"type": "Expression"
					},
					"folderPath": "Reference"
				}
			}
		}
	]
}